# used by the core TinyOlap database engine
cryptography==36.0.2
sqlparse
enum_tools==0.9.0.post1

# used for samples and testing
uvicorn
fastapi
pydantic

Sphinx==4.5.0
furo
Faker==13.3.4
faker-commerce
sphinx-toolbox
psutil==5.9.0
art==5.5
pandas

# ariadne
# starlette
readerwriterlock
locust