# used by the core TinyOlap database engine
cryptography==36.0.2
sqlparse
enum_tools==0.9.0.post1
packaging==21.3
faker==13.7.0


# used for the TinyOlap API
uvicorn
fastapi
pydantic
readerwriterlock

# used for testing, sample data model generation
Sphinx==4.5.0
furo
faker-commerce
halo
sphinx-toolbox
psutil==5.9.0
art==5.5
pandas
numpy
intbitset

# used for stress testing
locust